<h2>Book List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Sr No.</th>
            <th>Title</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let book of book">
            <td> {{book.id}}</td>
            <td> {{book.title}}</td>
            <td> {{book.price}}</td>
            <td>
                <button (click)="updateBook(book.id)" class ="btn btn-info">Update</button>
            </td>
            <td>
                <button (click)="deleteBook(book.id)" class ="btn btn-danger">Delete</button>
            </td>
            <td>
                <button (click)="viewBook(book.id)" class ="btn btn-info">View</button>
            </td>
        </tr>
    </tbody>
</table>
